global
    log /dev/log local0
    maxconn 4096
    tune.ssl.default-dh-param 2048
    ssl-default-bind-options ssl-min-ver TLSv1.1
    ssl-default-bind-ciphers ECDHE-RSA-AES128-SHA:ECDHE-RSA-AES256-SHA:AES128-SHA:AES256-SHA
    ssl-default-server-ciphers ECDHE-RSA-AES128-SHA:AES128-SHA
    ca-base /etc/haproxy/certs/ca
    crt-base /etc/haproxy/certs/server

defaults
    log global
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend nats_tls
    bind *:4443 ssl crt /etc/haproxy/certs/server/eventbus.pem ca-file /etc/haproxy/certs/ca/partners-ca.pem verify required
    default_backend nats_pool

backend nats_pool
    balance roundrobin
    server n1 nats-1.meridian-federal.internal:4222 ssl verify required ca-file /etc/haproxy/certs/ca/internal-ca.pem
    server n2 nats-2.meridian-federal.internal:4222 ssl verify required ca-file /etc/haproxy/certs/ca/internal-ca.pem
    server n3 nats-3.meridian-federal.internal:4222 ssl verify required ca-file /etc/haproxy/certs/ca/internal-ca.pem
